@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.movie-library {
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
}
.movie-library__image {
  padding: 5em 5em 0;
  background-image: url("./mountains.jpeg");
  background-size: cover;
  background-position-y: 120vh;
}

.movie-library__title {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.movie-library__actions {
  display: flex;
  height: 2.3em;
}

.movie-library__actions select {
  width: 100%;
  padding: 0.25em;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.movie-library__actions button {
  white-space: nowrap;
}

.movie-library__loading {
  text-align: center;
  width: 100%;
  background-color: #222222;
  padding: 1.25em 0;
  margin: 2em 0;
}

.movie-library__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  background-color: #222222;
}

.movie-library__card {
  width: 20em;
  height: 27em;
  margin: 1em;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.548);
}

.movie-library__card img {
  width: 100%;
  height: 100%;
}

.movie-library__info {
  padding: 2em;
  position: relative;
  z-index: 1;
  bottom: 19em;
  height: 15em;
  /* //background-color: rgba(130, 238, 144, 0.589); */
  background: linear-gradient(to top, rgba(96, 156, 10, 0.75), rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
}

.movie-library__card li {
  line-height: 120%;
}
#title{
  font-weight: bold;
}
.order {
  background-color: var(--ms-green);
  border: none;
  font-weight: bold;
  padding: 0 1em;
}

.orderSelected {
  background-color: greenyellow;
  border: none;
  font-weight: bold;
  padding: 0 1em;
}
.order:hover {
  background-color: greenyellow;
}
#button2 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
